
<!-- START: footer.body-footer : contains page footer elements -->
<footer class="body-footer">

  <div class="container">

    <!-- START: .row -->
    <div class="row">

      {% if page.footer_content %}
      <!-- START: column -->
      <div class="col-sm-12">

        {{ page.footer_content }}

      </div>
      <!-- END: column -->
      {% endif %}

    </div>
    <!-- END: .row -->

  </div>

</footer>
<!-- END: footer.body-footer -->
