/**************************************************************/
/* styles for both the WYSIWYG and generally available in website
/**************************************************************/

/*
.cke_editable body	{
	font-family: 'PT Sans', Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	line-height: 1.6667;
	}
.cke_reset_all .cke_resizer {
  display: inline-block;
	}
.cke_reset_all .cke_dialog_footer_buttons {
  margin: 0;
 	}
 */




/* default headings */
/*
.cke_editable h2, .cke_editable .cke_editable h3, .cke_editable h4, .cke_editable h5, .cke_editable h6	{
	font-weight: 700;
	line-height: 1.3;
	color: #000;
	}
.cke_editable h2	{
	font-size: 34px;
	line-height: 1.2;
	color: #000;
	}
.cke_editable h3	{
	font-size: 22px;
	}
.cke_editable h4	{
	font-size: 20px;
	}
.cke_editable h5	{
	font-size: 18px;
	}
.cke_editable h6	{
	font-size: 16px;
	}
.cke_panel_list	{
	font-size: 12px;
	}
*/





/**************************************************************/
/*  buttons  */

.jf-button-container.button-inline,
.jf-button-container.button-inline a,
.jf-button-container.button-inline a.jf-button	{
	display: inline;
	}
.jf-button-container.button-block,
.jf-button-container.button-block a,
.jf-button-container.button-inline-block a,
.jf-button-container.button-block a.jf-button,
.jf-button-container.button-inline-block a.jf-button	{
	display: block;
	}
.jf-button-container.button-block	{
	margin-bottom: 1.5em;
	}
.jf-button-container.button-inline-block	{
	display: inline-block;
	}

.jf-button-container.float-left	{
	margin-right: 4px;
	}
.jf-button-container.float-right	{
	margin-left: 4px;
	}





/**************************************************************/
/*  horizontal rule  */

hr,
hr.rule1,
hr.rule2,
hr.rule3	{
	border: 0;
	width: 100%;
	text-align: left;
	margin: 32px 0 30px;
	clear: both;
	height: 1px;
	color: #ccc;
	background-color: #ccc;
	}
hr.rule1	{
	color: $color-red;
	background-color: $color-red;
	}
hr.rule2	{
	color: #000;
	background-color: #000;
	}



/**************************************************************/
/* uses a counter (not supported in IE8) */

ol.counter-1,
ol.counter-1 ol {
    counter-reset: item;
	}
ol.counter-1 > li,
ol.counter-1 ol > li {
    counter-increment: item;
	}
ol.counter-1 ol > li {
    display: block;
	}
ol.counter-1 ol > li:before {
    content: counters(item, ".") ".";
    display: block;
	}

ol.no-counter-1,
ol.no-counter-1 li	{
	list-style-type: none;
	}
ol.no-counter-1	{
	margin-left: .75em;
	}



/**************************************************************/
/* ordered list types */

ol.list-type-decimal	{
	list-style-type: decimal;
	}
ol.list-type-lower-alpha	{
	list-style-type: lower-alpha;
	}
ol.list-type-upper-alpha	{
	list-style-type: upper-alpha;
	}
ol.list-type-lower-roman	{
	list-style-type: lower-roman;
	}
ol.list-type-upper-roman	{
	list-style-type: upper-roman;
	}



/**************************************************************/
/* TABLES!!! P.A.R.T.... why? Because I gotta! */

.css_table,
.css-table	{
	display: table;
	width: 100%;
	border-collapse: collapse;
	}
.css_table_row,
.css-table-row	{
	display: table-row;
	}
.css_table_cell,
.css-table-cell	{
	display: table-cell;
	vertical-align: top;
	}
.css_table_cell.align_middle,
.css-table-cell.align-middle	{
	vertical-align: middle;
	}

table	{
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
	line-height: 1.45;
	border: none;
	margin-bottom: 2.5em; /* tables visually benefit from extra margin when above other elements */
	}
main table	{
	overflow-x: auto;
	/* display: block; why was this used? to enforce overflow for mobile? */
	}
main .table_wrapper1	{
	overflow-x: auto;
	}
.admin-menu article table	{
	display: table;
	}
table caption	{
	padding: 7px 6px;
	font-size: 18px;
	text-align: center;
	caption-side: initial;
	}
table td,
table th,
table th label,
.calendar-calendar table thead th.days	{
	padding: 11px 13px 10px;
	vertical-align: top;
	}
table th,
table thead th,
table thead td,
.calendar-calendar table thead th.days	{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	background-color: $color-brand-red;
	color: #fff;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	letter-spacing: .05em;
	}
table th a,
main table th a	{
	text-decoration: none;
	color: #fff;
	}
table th a:focus,
main table th a:focus	{
	text-decoration: underline;
	}
table th.active img	{
	display: none;
	}
table tr.odd,
table tr:nth-child(odd)	{
	background-color: transparent;
	}
table tr.even,
table tr:nth-child(even)	{
	background-color: #f9fafb;
	}
table tr.odd,
table tr.even,
table tr:nth-child(odd),
table tr:nth-child(even),
.calendar-calendar table tr.odd.single-day,
.calendar-calendar table tr.even.single-day	{
	border-bottom: 1px solid #ededed;
	}
table tr td.white_cell_background	{
	background-color: #fff;
	}
table tr.odd td.active,
table tr:nth-child(odd) td.active	{
	background-color: #fbfaf8;
	}
table tr.even td.active,
table tr:nth-child(even) td.active	{
	background-color: #f5f5f4;
	}
table tr:last-child	{
	border-bottom: 1px solid #bdc3c8;
	}
table tr th:first-child	{
	border-left: 1px solid #1e354a;
	}
table tr th:last-child	{
	border-right: 1px solid #1e354a;
	}
table thead tr,
table thead tr.odd,
table thead tr.even,
table thead tr:nth-child(odd),
table thead tr:nth-child(odd)	{
	border-bottom: 1px solid #1e354a;
	}
table tr td:first-child	{
	border-left: 1px solid #ededed;
	}
table tr td:last-child	{
	border-right: 1px solid #ededed;
	}

/* evenly spaced columns */
table.table--two-columns th,
table.table--two-columns td	{
	width: 50%;
	}
table.table--three-columns th,
table.table--three-columns td	{
	width: 33.3%;
	}
table.table--four-columns th,
table.table--four-columns td	{
	width: 25%;
	}
table.table--five-columns th,
table.table--five-columns td	{
	width: 20%;
	}

/* controlling the first column */
table.table--first-column-50pct th.table-column1,
table.table--first-column-50pct td.table-column1	{
	width: 50%;
	}
table.table--first-column-33pct th.table-column1,
table.table--first-column-33pct td.table-column1	{
	width: 33.3%;
	}
table.table--first-column-25pct th.table-column1,
table.table--first-column-25pct td.table-column1	{
	width: 25%;
	}

/* layout table... because */
table.layout-1	{
	border-collapse: collapse;
	margin: 0;
	width: auto;
	border-spacing: 0;
	}
table.layout-1 tbody	{
	border: none;
	}
table.layout-1 td,
table.layout-1 th	{
	padding: 0;
	vertical-align: top;
	}
table.layout-1 tr.odd,
table.layout-1 tr.even,
table.layout-1 tr td:first-child,
table.layout-1 tr td:last-child,
table.layout-1 tr:nth-child(odd),
table.layout-1 tr:nth-child(even)	{
	background-color: transparent;
	border: none;
	}





/**************************************************************/
/* blockquote */

blockquote	{
	font-family: 'PT Serif', Times, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	line-height: 1.6;
  color: #8a8a8a;
	}









@media(max-width:768px)	{

	img.float-left.width-25pct	{
		width: 50% !important;
		}

	}

@media(max-width:640px)	{

	img.float-left.width-50pct,
	img.float-left.width-25pct	{
		width: 100% !important;
		}

	}
